/* body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.41)), url(../../assets/images/mountains.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */


.navbar {
    padding: 1%;
}

.section-a {

    margin: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.583)), url(../../assets/images/zion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-b {
}

.jumbotron {

    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.profilcePicContainer {
    margin-top: 2rem;
    text-align: center;
    /* border-radius: 10px; */
}

.profilePic {

    height: 20rem;
    border-radius: 50%;
    border-style: solid 1px white;
}

.profileDescList {
    border-radius: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.descItem {
    /* margin-top: 1rem; */
    margin-right: 1rem;
}

.aboutContainer {
    width: 50%;
}
.ab_Title{
    margin-top: 2rem;
}

.short_about {
    /* border-radius: 3rem; */
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.aboutMeShort {
    font-size: 20px;
}

.skills-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;

    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/* mobile style */

@media screen and (max-width: 1448px) {
  
    .quoteText {
        font-style: italic;
        font-size: 2rem;
    }

    .section-b {
        padding: 0;
    }

    .profilcePicContainer {
        text-align: center;
    }

    .profilePic {
        height: 12rem;
        border-radius: 50%;
        border-style: solid 1px white;
    }

    .aboutContainer {
        width: 100%;
    }

    .ab_Title {
        margin-top: 2rem;
        font-size: 2rem;
    }

    .short_about {
        padding: 0;
        display: inline-block;

    }

    .aboutMeShort {
        font-size: 16px;
    }

    .short_about {
        border-radius: 0;

        padding: 1rem;
    }




}