/* body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.41)), url(../../assets/images/mountains.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */


.navbar{
    padding: 1%;
}
.section-a {
    margin: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.583)), url(../../assets/images/cubes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-b {
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.583)), url(../../assets/images/mountains.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    padding: 5rem;
    margin: 0;
}

.jumbotron {
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.profilcePicContainer{
text-align: center;
    border-radius: 10px;
}

.profilePic {
 
    height: 20rem;
    border-radius: 50%;
    border-style: solid 1px white;
}

.profileDescList{
    border-radius: 5rem;
    display: flex;
    justify-content: space-evenly;
}
.descItem{
    margin-top: 1rem;
    margin-right: 1rem;
}

.aboutContainer {
    width: 50%;
}

.short_about {
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.aboutMeShort {
    font-size: 20px;
}

.skills-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}



/* mobile style */

@media screen and (max-width: 900px) {

    .quoteText{
        font-style: italic;
        font-size: 2rem;
    }

    .section-b{
        padding: 2rem;
    }
    .profilcePicContainer{
        text-align: center;
    }
    .profilePic {
        height: 13rem;
        border-radius: 50%;
        border-style: solid 1px white;
    }
    .aboutContainer{
        width: 100%;
    }
    .ab_Title{
        margin-top: 2rem;
        font-size: 2rem;
    }
    .short_about{
        display: inline-block;
        
    }
    .aboutMeShort {
        font-size: 16px;
    }




}