.jumbotron{
    color: white;
    margin: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.41)), url(../assets/images/zion.JPG);
    content-visibility: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    margin-top: 2rem;
}